@use "../abstract/mixins";
@use "../abstract/variable" as v;
@use "../base/font";

#connexion {
    @include mixins.flex(column);
    background-color: v.$primarycolor;
    margin-top: 0;
    padding: 4rem 2rem;

    h2 {
        text-align: center;
        color: v.$primarycolor;
        font-size: 30px;
        margin: 1rem 0;
        font-family: "SpecialElite";
    }

    .form {
        @include mixins.flex(column);
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
        padding: 2rem;
        background-color: white;
        border-radius: 1rem;

        label {
            font-weight: bold;
            margin-top: 1rem;
            color: v.$primarycolor;
            font-family: "Lora";
        }

        input,
        textarea,
        select {
            width: 100%;
            padding: 0.7rem;
            border-radius: 10px;
            margin: 15px 0;
            font-size: 17px;
            font-family: "Lora";
        }

        button {
            margin-top: 2rem;
            padding: 0.7rem 2rem;
            background-color: v.$secondarycolor;
            border: none;
            border-radius: 10px;
            color: white;
            text-transform: uppercase;
            cursor: pointer;
            font-weight: bold;
            font-family: "Lora";
            transition: color 0.3s;

            @include mixins.hover(v.$accentcolor);
        }

        a {
            color: v.$primarycolor;
            text-align: center;
            display: block;
            margin-top: 1rem;
            font-family: "Lora";
        }

        .alert {
            background-color: red;
            color: white;
            padding: 1rem;
            border-radius: 0.5rem;
            margin-bottom: 1rem;
            text-align: center;
        }

        .noAccount {
            display: block;
            text-align: center;
            margin-top: 1.5rem;
            font-family: "Lora";
            color: v.$secondarycolor;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s;
            
            @include mixins.hover(v.$accentcolor);

        }
    }
}