{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block MAIN %}
    <section id="contact">
        <h2>Contactez-nous</h2>
        <p>Pour toute question ou information, n'hésitez pas à nous contacter en copiant l'email si dessous</p>
        <p>ou contactez nous par nos réseaux sociaux .</p>
        <a href="#" id="copyEmail" data-email="matteo.darodrigues03@gmail.com" title="copier l'email"><i class="fa-regular fa-envelope"></i></a>

        <div class="reseaux">
            <ul>
                <li><a href="https://www.instagram.com/lenigma24/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.instagram.com/lenigma24/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=61576589264503" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
        </div>
    </section>
{% endblock %}