{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block MAIN %}
    {# CONTACT #}
    <section id="contact">
        <h2>Contact</h2>
        <div class="form">
            {{ form_start(formcontact) }}
                {{ form_widget(formcontact) }}
            {{ form_end(formcontact) }}
        </div>
    </section>
{% endblock %}
