@use "../abstract/mixins";
@use "../abstract/variable" as v;
@use "../base/font";

@media screen and (max-width: 1083px) {
    header nav ul {
        gap: 1rem;
    }
}

@media screen and (max-width: 1021px) {
    header nav ul {
        gap: 0.5rem;
    }
    
    header nav ul .nav_liens {
        display: flex;
        gap: 1rem;
    }
}

.logoburger, .burger {
  display: none;
}

@media screen and (max-width: 933px) {
    .login,.logout {
        margin-top: 1rem;
    }

    .logo {
        display: none;
    }

    .logoburger {
        display: flex;
        align-items: center;

        li {
            a {
                img {
                    height: 100px;
                }
            }
        }
    }

    header nav ul .nav_liens {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

    }

  header nav ul .nav_liens a {
    color: white;
    padding: 0.5rem 1rem;
    margin-right: 2rem;
    }

  .burger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: white;
  }

  header {
    nav {
        justify-content: space-between;

    }
  }

  .nav_menu {
    display: none;
  }

.nav_menu {
  display: none;
}

    .nav_menu {

        .logo {
            display: none;
        }

        &.active {
            display: block;
            position: absolute;
            right: 0px;
            top: 130px;
            background-color: black;
            width: 100vw;
            padding: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .cartes {

        .escapegames {
            @include mixins.flex ($direction : column, $justify : center, $align : center, $wrap: wrap);

            .escapegame {
                @include mixins.flex($direction: column);
                width: 300px;
            }
        }
    }

    #calendrier #calendar {
        width: 100%;
    }

    .form {
        width: auto;
    }

    footer {
        flex-direction: column;

        p {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        a {
            margin-bottom: 1rem;
        }
    }

    header {
        nav {
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 510px) {

    #profil div {
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 465px) {

    #escapegame .cartes img {
        width: 100%;
        height: auto;
    }

        #profil div {
        padding: 0.5rem 1rem;
    }

    #commentaires .commentaire .commentaires {
        padding: 0.5rem 1.0rem;
    }

    #accueil .cartes .escapegames .escapegame img {
        width: 100%;
        height: auto;
    }
}