{% extends 'base.html.twig' %}

{% block title %}Modification commentaire{% endblock %}

{% block MAIN %}
    {# MODIFICATION COMMENTAIRES #}
    <section id="commentairesupdate">
        <h2>Modifier le commentaire</h2>
        <div class="form">
            {{ form_start(commentairesNotesform) }}
                {{ form_widget(commentairesNotesform) }}
                <button type="submit">Modifier</button>
            {{ form_end(commentairesNotesform) }}
        </div>
    </section>
{% endblock %}
