{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block MAIN %}
    <section id="mentionLegales">
        <h2>Mentions Légales</h2>
        <h3>Éditeur du site :</h3>
        <p>Nom de l’entreprise : Enigma</p>
        <p>Forme juridique : Auto-entrepreneur</p>
        <p>Siège social : Périgueux, France</p>
        <p>SIRET : [à compléter si connu]</p>
        <p>RCS : Périgueux</p>
        <p>Représentant légal : Matteo De Almeida Rodrigues</p>
        <p>Téléphone : 06 15 89 46 06</p>
        <p>E-mail : matteo.darodrigues03@gmail.com</p>

        <h3>Hébergement du site :</h3>
        <p>Nom de l’hébergeur : Pedro De Almeida Rodrigues</p>
        <p>Adresse : Saint Priest Les Fougères, France</p>
        <p>Hébergeur technique : o2switch</p>
        <p>Adresse de l’hébergeur : o2switch, 222-224 Boulevard Gustave Flaubert, 63000 Clermont-Ferrand, France</p>
        <p>Site web : https://www.o2switch.fr</p>

        <h3>Propriété intellectuelle :</h3>
        <p>L’ensemble du contenu du site (textes, images, logos, graphismes, vidéos, etc.) est la propriété exclusive de Enigma, sauf mentions contraires. Toute reproduction, diffusion, ou exploitation, même partielle, est strictement interdite sans autorisation préalable écrite.</p>

        <h3>Données personnelles :</h3>
        <p>Les données collectées via le site sont destinées exclusivement à Enigma et ne sont pas communiquées à des tiers.
        Conformément au Règlement Général sur la Protection des Données (RGPD), vous pouvez exercer vos droits d’accès, de rectification, de suppression ou d’opposition en nous contactant à : matteo.darodrigues03@gmail.com</p>

        <h3>Cookies :</h3>
        <p>Le site peut utiliser des cookies pour améliorer la navigation et mesurer l’audience. Lors de votre première visite, vous pouvez accepter ou refuser ces cookies via un bandeau de gestion dédié.</p>

        <h3>Litiges :</h3>
        <p>En cas de litige, une solution amiable sera priorisée. À défaut, le tribunal compétent sera celui du ressort du siège social, soit Périgueux.</p>
    </section>
{% endblock %}
